.gorra-A {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;


}

.text-gorra-A {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

}

.gorra-A img {
    width: 500px;
    height: 500px;
}

.gorra-B {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;


}

.text-gorra-B {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.gorra-B img {
    width: 500px;
    height: 500px;
}