.titulo-Hombre{
    color: white;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    

}

.polera-blanca {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;



}

.text-polera-b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;


}

.polera-blanca img {
    width: 500px;
    height: 500px;
}

.polera-negra {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;

}

.text-polera-n {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

}

.polera-negra img {
    width: 500px;
    height: 500px;
}

.poleron-blanco {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.text-poleron-blanco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.poleron-blanco img {
    width: 500px;
    height: 500px;


}





