.fondo {
    background-color: black;
}

.text-principal {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 50px;
}
.animate__animated.animate__fadeInDown {
    --animate-duration: 5s;
}

.titulo-polera-zeus{
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px;
    
}
.polera-zeus {
    margin-top: 100px;
    display: flex;
    flex-direction: row-reverse;
    margin-bottom: 50px;

}
.parrafo-polera {
    color: white;
    margin-top: 100px;
    padding: 50px;
    font-size: large;
}
.polera-zeus img{
    margin-left: 20px;
    
  
}



