.fondo {
    background-color: black;
}

.BIENVENIDO {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
    padding: 50px;
}
.animate__animated.animate__fadeInDown {
    --animate-duration: 5s;
  }

.titulo-polera-zeus{
    color: white;
    display: flex;
    justify-content: space-evenly;
    margin-top: 100px;
  

}

.polera-zeus {
    margin-top: 100px;
    display: flex;
    flex-direction: row-reverse
}
.parrafo-polera {
    color: white;
    margin-top: 200px;
    padding: 50px;
}
.polera-zeus img{
    margin-left: 20px;
    
  

}
.Newsletter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   

}

.polera-blanca {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;



}

.text-polera-b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;


}

.polera-blanca img {
    width: 500px;
    height: 500px;
}

.polera-negra {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;

}

.text-polera-n {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

}

.polera-negra img {
    width: 500px;
    height: 500px;
}

.poleron-blanco {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}

.text-poleron-blanco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}
.poleron-blanco img {
    width: 500px;
    height: 500px;


}

.conjunto-celeste {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;
}

.text-conjunto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.conjunto-celeste  img {
    width: 500px;
    height: 500px;
}


.conjunto-gris{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;
}
.conjunto-gris img{
    width: 500px;
    height: 500px;


}
.text-conjunto-gris {
    display: flex;
    flex-direction: column;
    justify-content: center;



}

.conjunto-negro{
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;

}

.text-conjunto-negro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

}

.conjunto-negro img {
    width: 500px;
    height: 500px;

}

.Calzas-mujer {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
}
.Calzas-mujer img{
    width: 500px;
    height: 500px;

}
.text-calzas {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.gorra-A {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;


}

.text-gorra-A {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;

}

.gorra-A img {
    width: 500px;
    height: 500px;
}

.gorra-B {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;


}

.text-gorra-B {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
}

.gorra-B img {
    width: 500px;
    height: 500px;
}






    





  





