.fondo {
  background-color: black;
}

.text-principal {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
  padding: 50px;
}

.animate__animated.animate__fadeInDown {
  --animate-duration: 5s;
}

.titulo-polera-zeus {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 20px;
}

.polera-zeus {
  margin-top: 100px;
  display: flex;
  flex-direction: row-reverse;
  margin-bottom: 50px;
}

.parrafo-polera {
  color: white;
  margin-top: 100px;
  padding: 50px;
  font-size: large;
}

.polera-zeus img {
  margin-left: 20px;
}

.nosotros {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 50px;
}

.Newsletter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.titulo-Hombre {
  color: white;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.polera-blanca {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10%;
  margin-top: 10%;
}

.text-polera-b {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.polera-blanca img {
  width: 500px;
  height: 500px;
}

.polera-negra {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10%;
  margin-top: 10%;
}

.text-polera-n {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.polera-negra img {
  width: 500px;
  height: 500px;
}

.poleron-blanco {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.text-poleron-blanco {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.poleron-blanco img {
  width: 500px;
  height: 500px;
}

.titulo-mujer {
  color: white;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.conjunto-celeste {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10%;
  margin-top: 10%;
}

.text-conjunto {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.conjunto-celeste img {
  width: 500px;
  height: 500px;
}

.conjunto-gris {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10%;
  margin-top: 10%;
}

.conjunto-gris img {
  width: 500px;
  height: 500px;
}

.text-conjunto-gris {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.conjunto-negro {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10%;
  margin-top: 10%;
}

.text-conjunto-negro {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.conjunto-negro img {
  width: 500px;
  height: 500px;
}

.Calzas-mujer {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.Calzas-mujer img {
  width: 500px;
  height: 500px;
}

.text-calzas {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.titulo-accesorios {
  color: white;
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.gorra-A {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10%;
  margin-top: 10%;
}

.text-gorra-A {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
}

.gorra-A img {
  width: 500px;
  height: 500px;
}

.gorra-B {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin-left: 10%;
  margin-top: 10%;
  margin-bottom: 10%;
}

.text-gorra-B {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  text-decoration: none;
}

.gorra-B img {
  width: 500px;
  height: 500px;
}

@media (max-width: 420px) {
  /*pagina principal*/
  .fondo {
    background-color: black;
  }
  .text-principal {
    color: white;
    display: flex;
    padding: 10px;
    font-size: medium;
  }
  .animate__animated.animate__fadeInDown {
    --animate-duration: 5s;
    padding: 10px;
  }
  .titulo-polera-zeus {
    display: flex;
    justify-content: center;
    color: white;
    margin-top: 20px;
    padding: 0px;
    font-size: small;
  }
  .polera-zeus {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    flex-direction: column-reverse;
    margin: 0px;
  }
  .polera-zeus img {
    margin: 0px;
  }
  .parrafo-polera {
    color: white;
    margin: 0px;
    font-size: medium;
    padding: 10px;
  }
  .animate__animated .animate__fadeInDown img {
    width: 100%;
    height: 100%;
    padding: 0px;
    margin: 10px;
  }
  /*pagina nosotros*/
  .nosotros {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
    margin-top: 20px;
    padding: 50px;
  }
  .Newsletter {
    display: flex;
  }
  /*media pagina hombre*/
  .polera-blanca {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .text-polera-b {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 10px;
    font-size: small;
  }
  .polera-blanca img {
    width: 100%;
    height: 100%;
  }
  .polera-negra {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .text-polera-n {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-right: 10px;
    font-size: small;
  }
  .polera-negra img {
    width: 100%;
    height: 100%;
  }
  .poleron-blanco {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .text-poleron-blanco {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 10px;
    font-size: small;
  }
  .poleron-blanco img {
    width: 100%;
    height: 100%;
  }
  /*pagina mujer*/
  .conjunto-celeste {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;
    margin-top: 10%;
  }
  .text-conjunto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: small;
    margin-left: 20px;
  }
  .conjunto-celeste img {
    width: 100%;
    height: 100%;
  }
  .conjunto-gris {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .conjunto-gris img {
    width: 100%;
    height: 100%;
  }
  .text-conjunto-gris {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;
    margin-right: 20px;
  }
  .conjunto-negro {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .text-conjunto-negro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    font-size: small;
    margin-left: 20px;
  }
  .conjunto-negro img {
    width: 100%;
    height: 100%;
  }
  .Calzas-mujer {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .Calzas-mujer img {
    width: 100%;
    height: 100%;
  }
  .text-calzas {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: small;
    margin-right: 20px;
  }
  /*pagina accesorios*/
  .gorra-A {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;
  }
  .text-gorra-A {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    margin-left: 20px;
    font-size: small;
  }
  .gorra-A img {
    width: 100%;
    height: 100%;
  }
  .gorra-B {
    color: white;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-left: 10%;
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .text-gorra-B {
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    text-decoration: none;
    font-size: small;
    margin-right: 20px;
  }
  .gorra-B img {
    width: 100%;
    height: 100%;
  }
}/*# sourceMappingURL=main.css.map */