@import "principal";
@import "Hombre";
@import "mujer";
@import "accesorios";
@import "media";





.Newsletter{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
   

}












    





  





